In [2]:
from elexon import ElexonRawClient
from calendar import monthrange
import datetime
import numpy as np
import pandas as pd
from tabulate import tabulate
from tqdm import tqdm
from sys import exit
from tqdm import tqdm
import os
from matplotlib import pyplot as plt
import seaborn as sns
from matplotlib.colors import LinearSegmentedColormap
from matplotlib.backends.backend_pdf import PdfPages
import warnings
warnings.filterwarnings("ignore")

In [3]:
A = 2234
b = str(A)
c = str(b)
print(type(c))

<class 'str'>

In [8]:
HourlyDF = pd.read_csv("0.DataSource/National Demand/df_fuel_ckan_DemandPriceTemp_Hourly.csv")
HourlyDF['DATETIME'] = pd.to_datetime(HourlyDF['DATETIME'])
HourlyDF['Year'],HourlyDF['Month'],HourlyDF['Day'],HourlyDF['WeekNumber'],HourlyDF['DaysOfTheYear'],\
    HourlyDF['DayOfTheWeek'],HourlyDF['Hour'] = HourlyDF['DATETIME'].dt.year,\
    HourlyDF['DATETIME'].dt.month,HourlyDF['DATETIME'].dt.day,HourlyDF['DATETIME'].dt.isocalendar().week,\
    HourlyDF['DATETIME'].dt.dayofyear,HourlyDF['DATETIME'].dt.dayofweek,HourlyDF['DATETIME'].dt.hour

In [5]:
SunHoursDF = pd.read_csv("0.DataSource/SheffieldDayLightHours.csv") # Monthly SunHours from Sheffield ## https://www.metoffice.gov.uk/pub/data/weather/uk/climate/stationdata/sheffielddata.txt
SunHoursDF

     Year  Month  SunHours
0    2009      1      59.8
1    2009      2      60.5
2    2009      3     161.7
3    2009      4     142.3
4    2009      5     216.0
..    ...    ...       ...
179  2023     12      31.5
180  2024      1      54.9
181  2024      2      42.0
182  2024      3      75.6
183  2024      4     100.7

[184 rows x 3 columns]

In [11]:
HourlyDF.columns

Index(['DATETIME', 'MC_StartingVolume', 'SBP(GBP/MWh)', 'SSP(GBP/MWh)',
       'MID_APX_VOLUME(MWh)', 'MID_APX_PRICE(GBP/MWh)', 'MID_N2EX_VOLUME(MWh)',
       'MID_N2EX_PRICE(GBP/MWh)', 'SSP_(GBP/MWh)', 'NIV(MWh)',
       'NordPool_HH_Vol(MWh)', 'NordPool_HH_Price(GBP/MWh)',
       'NordPool_DA_H_Vol(MWh)', 'NordPool_DA_H_Price(GBP/MWh)',
       'Air_Temperature', 'GAS', 'COAL', 'NUCLEAR', 'WIND', 'HYDRO', 'IMPORTS',
       'BIOMASS', 'OTHER', 'SOLAR', 'STORAGE', 'GENERATION',
       'CARBON_INTENSITY', 'LOW_CARBON', 'ZERO_CARBON', 'RENEWABLE', 'FOSSIL',
       'GAS_perc', 'COAL_perc', 'NUCLEAR_perc', 'WIND_perc', 'HYDRO_perc',
       'IMPORTS_perc', 'BIOMASS_perc', 'OTHER_perc', 'SOLAR_perc',
       'STORAGE_perc', 'GENERATION_perc', 'LOW_CARBON_perc',
       'ZERO_CARBON_perc', 'RENEWABLE_perc', 'FOSSIL_perc', 'NATIONAL DEMAND',
       'TRANSMISSION_SYSTEM_DEMAND', 'ENGLAND_WALES_DEMAND',
       'EMBEDDED_WIND_GENERATION', 'EMBEDDED_WIND_CAPACITY',
       'EMBEDDED_SOLAR_GENERATION', 'EMBEDDED_SOLAR_CAPACITY', 'NON_BM_STOR',
       'PUMP_STORAGE_PUMPING', 'SCOTTISH_TRANSFER', 'NET_INTCONNECTOR_FLOW',
       'IFA_FLOW', 'IFA2_FLOW', 'BRITNED_FLOW', 'MOYLE_FLOW', 'EAST_WEST_FLOW',
       'NEMO_FLOW', 'NSL_FLOW', 'ELECLINK_FLOW', 'VIKING_FLOW', 'Year',
       'Month', 'Day', 'WeekNumber', 'DaysOfTheYear', 'DayOfTheWeek', 'Hour'],
      dtype='object')

In [16]:
def ApplySunHours(Year,Month):
    SunHours = SunHoursDF.loc[(SunHoursDF["Year"] == Year) & (SunHoursDF["Month"] == Month)]["SunHours"].values[0]
    return SunHours

In [19]:
HourlyDF['SunHours'] = np.vectorize(ApplySunHours)(HourlyDF['Year'], HourlyDF['Month'])
#HourlyDF['SunHours'] = HourlyDF[['Year','Month']].apply(lambda HourlyDF: ApplySunHours(HourlyDF['Year'],HourlyDF['Month']),axis=1)

In [47]:
HourlyDF2018

NameError: name 'HourlyDF2018' is not defined

In [15]:
SunHours = SunHoursDF.loc[(SunHoursDF["Year"] == 2023) & (SunHoursDF["Month"] == 1)]["SunHours"].values[0]

78.4

In [46]:
SunHoursDF1 = pd.read_csv("0.DataSource/SheffieldSunObservation/SunShineDuration_Sheffield.csv") # Monthly SunHours from Sheffield ## https://www.metoffice.gov.uk/pub/data/weather/uk/climate/stationdata/sheffielddata.txt
SunHoursDF1['DateTime'] = pd.to_datetime(SunHoursDF1['DateTime'],format="%d/%m/%Y %H:%M")
SunHoursDF1 = SunHoursDF1.resample('M', on='DateTime').sum()
SunHoursDF1

            SunDuration
DateTime
2009-01-31         59.8
2009-02-28         60.5
2009-03-31        161.7
2009-04-30        142.3
2009-05-31        216.0
...                 ...
2022-08-31          0.0
2022-09-30         60.1
2022-10-31        113.4
2022-11-30         37.7
2022-12-31         54.6

[168 rows x 1 columns]

In [ ]:
# genDemand = pd.read_csv("0.DataSource/National Demand/df_fuel_ckan_WithDemand.csv")
# genDemand['DATETIME'] = pd.to_datetime(genDemand['DATETIME'])
# genDemand = genDemand.resample('60min', on='DATETIME').mean()
# genDemand.to_csv("0.DataSource/National Demand/df_fuel_ckan_WithDemand_Hourly_SSP.csv")
# genDemand

In [24]:
SunHoursDF

     Year  Month  SunHours
0    2009      1      59.8
1    2009      2      60.5
2    2009      3     161.7
3    2009      4     142.3
4    2009      5     216.0
..    ...    ...       ...
179  2023     12      31.5
180  2024      1      54.9
181  2024      2      42.0
182  2024      3      75.6
183  2024      4     100.7

[184 rows x 3 columns]